.navbar {
  background-color: var(--secondary-color);
  margin-bottom: 25px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px;
}

.list a {
  color: white;
  text-decoration: none;
}

.selected {
  border-bottom: 5px solid var(--primary-color);
  padding-bottom: 5px;
  margin-bottom: -10px;
}
